body {
	margin: 0;
	font-family: 'Michroma', sans-serif;
	background-color: #E9E7DA;
	color: #a00;
}

header {
	background-color: #E9E7DA;
	border-bottom: 2px solid #a00;
	padding: 10px 20px;
}

.nav menu {
	list-style: none;
	display: flex;
	gap: 20px;
	padding: 0;
	margin: 0;
}
